body {
    width: 1600px;
    margin: auto;
    font-family: 'Merriweather', serif;
}

header {
    width: 1320px;
    height: 600px;
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/2024-01-07\ at\ 23.39.43_7949cbee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 140px 50px 140px;
}

.title-header {
    padding-top: 177px;
    color: white;
    font-size: 32px;
    margin-bottom: 16px;
}

.title-description {
    margin: 0px;
    color: white;
    font-size: 72px;
    line-height: 95px;
    padding-bottom: 177px;
}


.gallery {
    display: flex;
    justify-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.sub-gallery {
    width: 424px;
    height: 450px;
}

.img1 {
    border-radius: 16px;
    background: url('../images/2024-01-07\ at\ 23.39.45_2368a84c.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    border-radius: 16px;
    background: url('../images/2024-01-07\ at\ 23.39.41_087aeeb1.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    border-radius: 16px;
    background: url('../images/2024-01-07\ at\ 23.39.40_71af87ba.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img4 {
    border-radius: 16px;
    background: url('../images/2024-01-07\ at\ 23.39.42_50f8402b.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img5 {
    border-radius: 16px;
    background: url('../images/2024-01-07\ at\ 23.39.39_6ca0ce0a.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img6 {
    border-radius: 16px;
    background: url('../images/2024-01-07\ at\ 23.39.41_d80230db.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 10px 140px 24px 140px;
}



.gallery-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
}

.gallery-header {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 22px;
}

.gallery-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0px;
}