body {
    width: 1600px;
    margin: auto;
    font-family: 'Merriweather', serif;
}

header {
    width: 1320px;
    height: 600px;
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/2024-01-07\ at\ 23.39.43_7949cbee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 140px 50px 140px;
}

.title-header {
    padding-top: 177px;
    color: white;
    font-size: 32px;
    margin-bottom: 16px;
}

.title-description {
    margin: 0px;
    color: white;
    font-size: 72px;
    line-height: 95px;
    padding-bottom: 177px;
}


.gallery {
    display: flex;
    justify-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.sub-gallery {
    width: 424px;
    height: 450px;
}

.img1 {
    border-radius: 16px;
    background: url('../images/2024-01-07\ at\ 23.39.45_2368a84c.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    border-radius: 16px;
    background: url('../images/2024-01-07\ at\ 23.39.41_087aeeb1.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    border-radius: 16px;
    background: url('../images/2024-01-07\ at\ 23.39.40_71af87ba.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img4 {
    border-radius: 16px;
    background: url('../images/2024-01-07\ at\ 23.39.42_50f8402b.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img5 {
    border-radius: 16px;
    background: url('../images/2024-01-07\ at\ 23.39.39_6ca0ce0a.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img6 {
    border-radius: 16px;
    background: url('../images/2024-01-07\ at\ 23.39.41_d80230db.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 120px 140px 24px 140px;
}



.gallery-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
}

.gallery-header {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 22px;
}

.gallery-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0px;
}

.subscrive {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);

    height: 616px;
    text-align: center;

}

.mail {
    width: 150px;
    height: 150px;
    margin: 80px 585px 20px 585px;
}

.subscribe-heading {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: white;
    width: 648px;
    height: 72px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.submitBtn {
    background-color: #F00;
    width: 210px;
    height: 72px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;

}




/*  --------------    65% OFF     -------------      */
.percent {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.percent-desc {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.percent-header {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.percent-new-year {
    width: 802.9px;
    height: 500px;
    background: url('../images/2024-01-07\ at\ 23.38.40_07d772a9.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

/*  --------------    welcome section    -------------      */
.main-wlm {
    display: flex;
    width: 1320px;
    height: 600px;
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/2024-01-07\ at\ 23.38.39_52fda0ea.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 120px 140px 50px 140px;
}

.overlap-img {
    width: 320px;
    height: 465px;
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/2024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 120px 140px 50px 140px;  */
    padding: 70px;
}

.Welcome-header {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    text-align: left;
    padding-top: 126px;
    padding-left: 126px;
}

.Welcome-description {
    width: 750px;
    height: 60px;
    margin: 0px;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-left: 126px;

}


.Welcome-join {
    color: #FFF;
    text-align: left;
    /* font-family: Inter; */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 150px;
}





/* -------------PARK ---------- */
.subscribe-container {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 482px;
    text-align: center;
    margin: 120px 140px 24px 140px;
}

.park-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 100px 385px 0px 385px;
}

.park-form {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
}

.parkbtn {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

span {
    color: #F00;
}





/* -------------FOOTER SECTION ---------------*/

.ft-container {
    width: 1600px;
    height: 609px;
    background: #070211;
    margin-top: 120px;
}

.ft-heading {
    display: flex;
    gap: 400px;
}

.ft-description {
    width: 500px;
    height: 80px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-left: 140px;
    /* margin-top: 100px; */
    padding-top: 120px;
    padding-bottom: 50px;
}

.phone-no {
    width: 350px;
    height: 80px;
    color: #F00;
    /* font-family: Inter; */
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-top: 120px;

}

.fot {
    display: block;
    width: 64px;
    height: 64px;
    gap: 10px;
    margin: 10px;
}

.flex-continer {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.f-img1 {
    /* border-radius: 16px; */
    background: url('../images/2024-01-07\ at\ 23.39.45_dd979133.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.f-img2 {
    border-radius: 16px;
    background: url('../images/inst.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;

}

.f-img3 {
    border-radius: 16px;
    background: url('../images/xxx.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.f-img4 {
    border-radius: 16px;
    background: url('../images/linkdin.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.Unsubscribe {
    display: flex;
    gap: 800px;
}


.right {
    width: 350px;
    height: 30px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding-left: 140px;
    /* margin-top: 100px; */
    padding-top: 120px;
    padding-bottom: 0px;
}

.left-part {
    color: white;
    padding-top: 120px;
    padding-right: 140px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.line {
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}